:root{
    --gradient: linear-gradient(135deg, #5b548a, #00feba);
    --white: white;
    --green-color: #17a881;
}

*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    line-height: 1.1;
    font-family: sans-serif;
}
p{
    font-weight: 300;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: var(--green-color);
    margin: 0;
    color: var(--white);
    text-align: center;
    padding: 3px;
}
.container{
    display: grid;
}
/* search box*/
.container__searchbox{
    text-align: center;
    padding: 5px 15px;
}
.search-title{
    color: var(--green-color);
    margin: 15px 0 5px;
}
#input{
    width: 90%;
    height: 40px;
    border-radius: 25px;
    text-align: left;
    padding: 5px 17px;
    border: 1px solid var(--green-color);
    margin: 10px 0px;
}
#search-button{
    width: 120px;
    height: 30px;
    border: none;
    background-color: var(--green-color);
    font-size: 1rem;
    color: var(--white);
    margin: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
}
#search-button:hover{
    background-color: white;
    color: var(--green-color);
    border: 2px solid var(--green-color);
}
#search-button:active{
    transform: translate(-2px, 2px);
}
/* weather display*/
.main-weather{
    background: var(--gradient);
    color: var(--white);
    padding: 10px 20px;
    margin: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
}
.city-name{
    font-size: 2rem;
    margin: 0;
}
.main-weather .weather-details{
    width: 50%;
    padding: 16px 10px;
}
#date{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
.weather-details--description{
    font-weight: 300;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.main-weather .icon{
    width: 50%;
    text-align: right;
    padding: 25px 35px 0 0;
}
.main-icon{
    max-width: 100%;
    opacity: 0.1;
}
.icon__description{
    font-size: 1.5rem;
    margin: 5px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* forecast section*/
.forecast-title{
    margin: 25px 15px;
    color: var(--green-color);
    font-size: 1.9rem;
}
ul{
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    min-height: 300px;
    margin: 0 15px;
}
ul .cards{
    list-style: none;
    width: 250px;
    background-color: #5b548a;
    padding: 10px 16px;
    color: var(--white);
    border-radius: 10px;
    line-height: 1.1;
}
.cards-description{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cards .forecast-icon{
    max-width: 50%;
}

@media (min-width: 1440px) {
    .container{
        margin: 30px 0;
        max-height: 100%;
        display: grid;
        grid-template-rows: repeat(300px);
        grid-template-columns: 550px 1fr;
    }
    .container__searchbox{
        grid-row: span 2;
    }
}

@media (max-width: 360px) {
    .main-weather{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-weather .icon{
        text-align: left;
    }
}